.personal_content {
    display: flex;
    column-gap: 1px;
    height: 100%;
}

.personal_item {
    flex: 1;
    height: 100%;
    background-color: rgb(232, 232, 232);
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    opacity: 0.5;
}

.personal_item:hover {
    opacity: 1;
    flex: 2;
    transition: flex 3s 300ms;
    
}

.personal_item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(203, 231, 199);
    border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.personal_item_content > img {
    width: 100%;
}

.personal_item_content > p {
    text-align: center;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    .personal_content {
        flex-direction: column;
        padding: 10px;
        row-gap: 20px;
    }
  }